@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logo{
  width: 68px;
  height: 48px;
  margin-left: 2.5rem;

}
img{
    max-width: 100%;
}
a{
    text-decoration: none !important;
    color: #fff !important;
    cursor: pointer;
}
a:hover, .btn:hover{
    text-decoration: none !important;
    color: #fff !important;
}
body{
    /* background: #0f0f0f; */
    font-family: 'Kumbh Sans', sans-serif;
}
section{
    padding: 2rem 1rem;
}
section:nth-of-type(1){
    padding: 0.1rem 1rem;
}
.color-accent{
    color: #4bf248;
    font-weight: bolder;
}
/*start of navigation */
header{
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: #1d2e3b; */
    /* background: #0f0f0f; */
    background: #140a70;
    z-index: 1000;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem 0.5rem 2rem;
    padding: 1rem 2rem;
    color: #fff;
    position: relative;
    text-align: center;
}
.nav-links{
    display: grid;
    grid-template-columns: 4.8fr 1fr;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}
.links>*{
    padding-right: 1rem;
    font-size: 1.1rem;
}

nav h3{
    font-size: 1.2rem;
}
.nav-bars{
    cursor: pointer;
    margin-top: 0.6rem;
}
.nav-bars span{
    display: block;
    height: 2px;
    width: 25px;
    background: #fff;
    margin-bottom: 0.2rem;
    margin-right: 2.5rem;
    position: relative;
    transition: 200ms ease-in;
}
.rotate span:nth-child(2){
    display: none;
}
.rotate span:nth-child(1){
    transform: rotate(-45deg);
    bottom: -0.3rem;
}

.rotate span:nth-child(3){
    transform: rotate(45deg);
}
.side-menu-links{
    /* background:rgb(18, 17, 17); */
    background: #140a70;
    position: fixed;
    top: 3.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    opacity: 0.95;
    padding-bottom: 2rem;
}
/* .side-menu-links{
    display: none;
} */

.nav-bars{
    display: none;
}
/* toggle on click */
.show-mobile-menu{
    transition: 180ms ease-in;
    transform: translateX(-100%);
}
.side-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 1rem;
    min-height: 400px;
}
.call-to-action{
    border: 0.5px solid rgb(19, 93, 176);
    border-radius: 0.15rem;
    padding: 0.5rem 0.7rem;
    min-width: 180px;
    transition:all 200ms ease-in-out;
    /* background: linear-gradient(#0c38e5,#2d80cd); */
    background: linear-gradient(#0c38e5,#57b7dd);
    transform: skewX(-190deg);

}
.call-to-action:hover{
    background: linear-gradient(#0c38e5,#0d64b6);
}
/* end of navigation */

/* landing-page start */
.landing-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    /* padding: 1.5rem 0rem; */
    background: #0d64b6;
    background-color: #110B33;
    background-color: #050942;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%231D1D44' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23242555'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23160B44' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23181155'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); */
    gap: 0.5rem;
    color: #fff;
}
.hero-img{
    margin-top: 1.2rem;
}
.hero-img img{
    max-height: 600px;
    width: 700px;
    object-fit: cover;
    border-radius: 0.2rem;
}
.landing-page .txt{
    max-width: 600px;
}
.landing-page .txt h1{
   /* font-size: clamp(1.5rem, -1.5rem + 4vw, 2.6rem); */
   font-size: 2.3rem;
   padding-bottom: 1rem;
   text-transform: uppercase;
   /* font-style: italic; */
   line-height: 1.3;
   letter-spacing: 1.5px;
   color: #fff;
   /* background: -webkit-linear-gradient(#45a0f5, #26e3c2);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; */
}
.landing-page .txt p{
   font-size: clamp(0.8rem, -1.3rem + 4vw, 1.7rem);
   line-height: 1.5;
}
.accent-txt{
    color: #45a0f5;
    color: #fff;
}
.accent-txt2{
    color: #26e3c2;
    color: #ffff;
}
.btns{
    margin-top: 1.8rem;
}
.get-started-btn{
    /* display: inline-block; */
    font-size: 1rem;
    border: 0.5px solid rgb(19, 93, 176);
    background: linear-gradient(#0c38e5,#57b7dd);
    padding: 0.8rem 1rem;
    text-transform: uppercase;
    border-radius: 0.15rem;
    transform: skewX(-185deg);
}
/* landing-page end */

/* section intro start */
.section-intro{
text-align: center;
display: grid;
justify-content: center;
justify-items: center;
gap: 0.2rem;
background: #ececef;
position: relative;
}
 .small-title{
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Gt america extended,sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 120%;
    color: #0c38e5;
}
 .intro-title{
    font-family: Gt america extended,sans-serif;
    /* font-size: clamp(1.5rem, 10vw, 3rem);  */
    font-size: clamp(1rem, 8vw, 1.5rem); 
    font-weight: 700;
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    text-align: start;
}
.section-intro .intro-paragraph{
    max-width: 600px;
    font-family: Gt america extended,sans-serif;
    font-size: 1.02rem;
    font-weight: 400;
    color: #555;
    line-height: 1.2;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    text-align: start;
}
.grow-your-career-btn{
    position: relative;
    /* display: inline-block; */
    transform: skewX(-182deg);
    max-width: 250px;
}
/* section intro end */
/* media queries */
@media(max-width:850px){
    .nav-links{
        display: none;
    }
    .nav-bars{
        display: block;
    }
    .landing-page{
        grid-template-columns: 1fr;
    }
    .landing-page .txt{
        max-width: 500px;
        text-align: center;
        margin-top: 2rem;
        /* background: rgb(20, 20, 20); */
        /* background: #0d64b6; */
        padding: 2rem 1rem;
    }
    .landing-page .txt p{
        font-size: clamp(1rem, 2.5vw, 2rem);  
    }
    .landing-page-txt h1{
        font-size: clamp(1.5rem, 2.2vw, 2.5rem); 
        font-size: 1rem;
    }
    .hero-img{
        max-height: 380px;
    }
    .hero-img img{
        max-height: 380px;
    }
}

/* SERVICES SECTION */
.our-services{
    display: grid;
    justify-content: center;
    justify-items: center; 
}
.services-container{
    display: flex;
    justify-items: center;
    justify-content: center;
    /* flex-direction: column; */
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 0.5rem;
}
.section-heading{
text-transform: uppercase;
color: #0c38e5;
font-size: 1.6rem;
}
.service-get-started-btn{
    color: #fff;
    /* background: #0c38e5; */
    margin-top: 1rem;
    background: linear-gradient(#0c38e5,#57b7dd);
    padding: 0.2rem 1rem;
    border-radius: 0.2rem;
    display: block;
    max-height: 34px;
    transition: 200ms ease-in;
}
.service-get-started-btn:hover{
    opacity: 0.8;
    max-height: 35px;
}

.service{
    max-width: 380px;
    min-height: 500px;
    /* background: #eee; */
    /* color: #fff; */
    margin: 1.5rem 0.5rem;
    padding: 2rem 2.1rem;
    line-height: 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: grid;
    justify-items: center;
    justify-content: center;
}
.service p{
    margin-top: 0.8rem;
    padding: 0.1rem;
}
.service-title{
    text-align: center;
    padding: 0.1rem 0.2rem 0.8rem 0.2rem;
    color: #0c38e5;
    font-weight: bolder;
    font-size: 1.3rem;
}
/* SERVICES END */

/* ABOUT ME SCTION START */
/* Container needed to position the button. Adjust the width as needed */
.video-container {
    position: relative;
    /* width: 50%; */
    max-width: 100%;
  }
  
  /* Make the image responsive */
  .video-container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .video-container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 0.9rem 1.3rem;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.7;
    transition: 100ms ease-in;
  }
  
  .video-container .btn:hover {
    opacity: 0.9;
  }

/* video-popup */
.modal-dialog {
    max-width: 800px;
    margin: 10rem auto;
}
.modal-body {
position:relative;
padding:0px;
}
.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}
/* video-popup */

/* ABOUT US SECTION END */


/* EBOOK SECTION START */
.ebook-section .small-title{
  all: unset;
    color: #57dd74 !important;
}
.ebook-section{
    background: #080924;
    align-items: center;
    justify-items: center;
}
.ebook-section img{
    height: 100%;
}
.about-ebook-txt{
    box-shadow: rgba(5, 34, 80, 0.15) 1.95px 1.95px 2.6px;
}
.ebook-section .about-ebook-txt{
    padding: 2rem 1.5rem;
    border-radius: 0.4rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-ebook-txt p{
    max-width: 550px;
}
.about-ebook-txt>*{
    margin-bottom: 0.95rem;
}
.ebook-section .small-title{
    color: #444ff1;
    font-weight: bolder;
    margin-bottom: 2rem;
}
.about-ebook-txt h2{
    font-size:2rem;
    color: #57b7dd;
}
.purchase-ebook-items{
    display: flex;
    align-items: center;
    margin-top: 0.8rem;
}
.purchase-ebook-items a{
    background: linear-gradient(#0c38e5,#57b7dd);
    padding: 0.3rem 1rem;
    border-radius: 0.2rem;
    transition: 200ms ease-in-out;
}
.purchase-ebook-items a:hover, .after-txt-btn:hover{
    opacity: 0.9;
}
.purchase-ebook-items span{
    margin-left: 1.5rem;
    color: #57b7dd;
    font-weight: bolder;
    user-select: none;
}
.after-txt-btn{
    background: linear-gradient(#0c38e5,#57b7dd);
    padding: 0.3rem 1rem;
    border-radius: 0.2rem;
    transition: 200ms ease-in-out;
    max-width: 120px;
}

/* contact us section */
.contact_us_green .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
    background-color: #0D0E31;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%230e0e35' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%230f0e39' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23110e3c' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23120e40' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23130E44' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
  }
  
  .contact_us_green input:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
  }
  
  .contact_us_green textarea:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
  }
  
  .contact_us_green .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
    color: #26e3c2;
  }
  
  .contact_us_green .responsive-cell-block {
    min-height: 75px;
  }
  
  .contact_us_green .responsive-container-block.container {
    max-width: 1320px;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
  }
  
  .contact_us_green .responsive-container-block.big-container {
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
  }
  
  .contact_us_green .text-blk.contactus-head {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  
  .contact_us_green .text-blk.contactus-subhead {
    max-width: 385px;
    color: #fff;
    font-size: 18px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
  
  .contact_us_green .contact-svg {
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 65px;
    height: 40px;
  }
  
  .contact_us_green .social-media-links {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .contact_us_green .social-svg {
    width: 35px;
    height: 35px;
  }
  
  .contact_us_green .text-box {
    display: flex;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
  
  .contact_us_green .contact-text {
    color: #fff;
  }
  
  .contact_us_green .input {
    height: 50px;
    width: 90%;
    border-width: 2.5px;
    border: 1.5px solid #0c38e5;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
  }
  
  .contact_us_green .textinput {
    height: 200px;
    width: 95%;
   border: 1.2px solid #0c38e5;
    border-radius: 0.2rem;
    font-size: 16px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
  
  .contact_us_green .submit-btn {
    all: unset;
    min-width: 200px;
    height: 40px;
    background: #0c38e5;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border-radius: 1.2rem;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    cursor: pointer;
    text-align: center;
    transition: 100ms ease-in;
  }
  .submit-btn:hover{
    opacity: 0.8;
  }
  
  .contact_us_green .btn-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .contact_us_green .text-blk.input-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
  }
  
  .contact_us_green .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  
  .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact_us_green .head-text-box {
    display: none;
  }
  
  .contact_us_green .line {
    border-right-width: 1.8px;
    border-right-style: solid;
    border-right-color: #0c38e5;
  }
  
  .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  @media (max-width: 1024px) {
    .contact_us_green .responsive-container-block.container {
      justify-content: center;
    }
  
    .contact_us_green .text-blk.contactus-subhead {
      max-width: 90%;
    }
  
    .contact_us_green .head-text-box {
      display: block;
    }
  
    .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 60px;
      padding-left: 0px;
    }
  
    .contact_us_green .line {
      border-right-width: initial;
      border-right-style: none;
      border-right-color: initial;
      border-bottom-width: 1.8px;
      border-bottom-style: solid;
      border-bottom-color: #050942;
    }
  
    .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
      margin-top: 60px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_green .workik-contact-bigbox {
      display: flex;
    }
  
    .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  }
  
  @media (max-width: 768px) {
    .contact_us_green .text-content {
      display: none;
    }
  
    .contact_us_green .input {
      width: 100%;
    }
  
    .contact_us_green .textinput {
      width: 100%;
    }
  
    .contact_us_green .text-blk.contactus-head {
      font-size: 30px;
      color: #26e3c2;
    }
  }
  
  @media (max-width: 500px) {
    .contact_us_green .responsive-container-block.big-container {
      padding-top: 0px;
      padding-right: 20px;
      padding-bottom: 0px;
      padding-left: 20px;
    }
  
    .contact_us_green .workik-contact-bigbox {
      display: block;
    }
  
    .contact_us_green .text-blk.input-title {
      font-size: 16px;
    }
  .input-title{
    color: #26e3c2 !important; 
  }
    .contact_us_green .text-blk.contactus-head {
      font-size: 26px;
    }
  
    .contact_us_green .text-blk.contactus-subhead {
      font-size: 16px;
      line-height: 23px;
    }
  
    .contact_us_green .input {
      height: 45px;
    }
  
    .contact_us_green .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
      margin: 0 0 25px 0;
    }
  }
/* contact form responsive css */
wk-desk-1 {
    width: 8.333333%;
  }
  
  .wk-desk-2 {
    width: 16.666667%;
  }
  
  .wk-desk-3 {
    width: 25%;
  }
  
  .wk-desk-4 {
    width: 33.333333%;
  }
  
  .wk-desk-5 {
    width: 41.666667%;
  }
  
  .wk-desk-6 {
    width: 50%;
  }
  
  .wk-desk-7 {
    width: 58.333333%;
  }
  
  .wk-desk-8 {
    width: 66.666667%;
  }
  
  .wk-desk-9 {
    width: 75%;
  }
  
  .wk-desk-10 {
    width: 83.333333%;
  }
  
  .wk-desk-11 {
    width: 91.666667%;
  }
  
  .wk-desk-12 {
    width: 100%;
  }
  
  @media (max-width: 1024px) {
    .wk-ipadp-1 {
      width: 8.333333%;
    }
  
    .wk-ipadp-2 {
      width: 16.666667%;
    }
  
    .wk-ipadp-3 {
      width: 25%;
    }
  
    .wk-ipadp-4 {
      width: 33.333333%;
    }
  
    .wk-ipadp-5 {
      width: 41.666667%;
    }
  
    .wk-ipadp-6 {
      width: 50%;
    }
  
    .wk-ipadp-7 {
      width: 58.333333%;
    }
  
    .wk-ipadp-8 {
      width: 66.666667%;
    }
  
    .wk-ipadp-9 {
      width: 75%;
    }
  
    .wk-ipadp-10 {
      width: 83.333333%;
    }
  
    .wk-ipadp-11 {
      width: 91.666667%;
    }
  
    .wk-ipadp-12 {
      width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .wk-tab-1 {
      width: 8.333333%;
    }
  
    .wk-tab-2 {
      width: 16.666667%;
    }
  
    .wk-tab-3 {
      width: 25%;
    }
  
    .wk-tab-4 {
      width: 33.333333%;
    }
  
    .wk-tab-5 {
      width: 41.666667%;
    }
  
    .wk-tab-6 {
      width: 50%;
    }
  
    .wk-tab-7 {
      width: 58.333333%;
    }
  
    .wk-tab-8 {
      width: 66.666667%;
    }
  
    .wk-tab-9 {
      width: 75%;
    }
  
    .wk-tab-10 {
      width: 83.333333%;
    }
  
    .wk-tab-11 {
      width: 91.666667%;
    }
  
    .wk-tab-12 {
      width: 100%;
    }
  }
  
  @media (max-width: 500px) {
    .wk-mobile-1 {
      width: 8.333333%;
    }
  
    .wk-mobile-2 {
      width: 16.666667%;
    }
  
    .wk-mobile-3 {
      width: 25%;
    }
  
    .wk-mobile-4 {
      width: 33.333333%;
    }
  
    .wk-mobile-5 {
      width: 41.666667%;
    }
  
    .wk-mobile-6 {
      width: 50%;
    }
  
    .wk-mobile-7 {
      width: 58.333333%;
    }
  
    .wk-mobile-8 {
      width: 66.666667%;
    }
  
    .wk-mobile-9 {
      width: 75%;
    }
  
    .wk-mobile-10 {
      width: 83.333333%;
    }
  
    .wk-mobile-11 {
      width: 91.666667%;
    }
  
    .wk-mobile-12 {
      width: 100%;
    }
  }
/* contact form responsive css */

/* contact us section */

/* footer */
footer{
    background: #110B33;
    position: relative;
    bottom: 0;
    margin-bottom: -5rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0.5rem;
}
footer .links{
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    font-size: 0.2rem;
    font-weight: lighter;
    align-items: center;
    justify-content: center;
}
footer a{
    padding: 0.2rem;
    font-size: 0.2rem;
}
.copyright-text{
/* background: #080924; */
color: #eeee;
font-weight: lighter;
text-align: center;
padding: 0.5rem 1rem;
}

/* footer */
    
/* END OF EBOOK SECTION  */

/* media queries */
@media(max-width:800px){
    .nav-links{
        display: none;
    }
    .nav-bars{
        display: block;
    }
    .landing-page{
        grid-template-columns: 1fr;
    }
    /* .hero-img{
        order: -1;
    } */
    .landing-page .txt{
        max-width: 500px;
        text-align: center;
        margin-top: 2rem;
        /* background: rgb(20, 20, 20); */
        padding: 2rem 1rem;
    }
    .landing-page .txt p{
        font-size: clamp(1rem, 2.5vw, 2rem);  
    }
    .landing-page .txt h1{
        font-size: clamp(1.5rem, 2.5vw, 4rem); 
    }
    .hero-img{
        max-height: 380px;
    }
    .hero-img img{
        max-height: 380px;
    }
}



/* telephone input */
ul {
    top: 100% !important;
    transform: translateY(0%) !important;
}

.iti {
    position: relative;
    display: inline-block;
    /* left: 2rem; */
}

input[type=tel] {
    padding-right: 6px;
    padding-left: 2.85rem !important;
    margin-left: 0;

    position: relative;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0;
    border: 1px solid #CCC;
    min-width: 280px;
    width: 100% !important;
    /* height: 35px; */
    /* padding: 6px 12px; */
    border-radius: 2px;
    font-family: inherit;
    font-size: 100%;
    color: inherit;
}

button {
    color: #FFF;
    background-color: #428BCA;
    border: 1px solid #357EBD;
    height: 39px;
    margin: 0;
    padding: 6px 20px;
    border-radius: 2px;
    font-family: inherit;
    font-size: 100%;
}

button:hover {
    background-color: #3276B1;
    border-color: #285E8E;
    cursor: pointer;
}
/* telephone input */
.contact-us-overlay{
  position: fixed;
  top: 4.6rem;
  bottom: 0;
  right: 0;
  left:0;
  overflow: scroll;
  height: 100%;
  transform: translateY(100%);
  z-index: 10000;
  /* margin: 1.5rem; */
}
.contact-us-overlay .contact_us_green{
  opacity: 0.96;
  /* padding: 0.8rem; */
  
}
.contact-us-overlay .contact_us_green .line {
 border: none;
}
.close-overlay{
  margin: 2rem;
  position: relative;
  left: 78%;
  color: #fff;
  background: #357EBD;
  max-width: 80px;
  padding: 0.1rem;
  text-align: center;
  border-radius: 0.2rem;
  align-items: center;
  user-select: none;
  cursor: pointer;
  transition:  300ms ease-in;
}
.close-overlay:hover{
  opacity: 0.9;
}